* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto";
}

ul {
    list-style-type: none;
}

.dashboard-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: rgb(0, 142, 215);
    color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.sidebar .branding {
    /* Using Flexbox */
    /* display: flex;
    gap: 12px;
    align-items: center; */

    /* Using Grid */
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 12px;
    align-items: center;
}

.sidebar .branding svg {
    /* Using Flexbox */
    /* fill: white;
    width: 48px;
    height: 48px; */

    /* Using Grid */
    fill: white;
}

.sidebar .branding .title {
    font-size: 28px;
    font-weight: bold;
}

.sidebar .feature-navigation ul,
.sidebar .help-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sidebar .feature-navigation ul li,
.sidebar .help-navigation ul li {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 12px;
    font-size: 24px;
}

.sidebar .feature-navigation li svg,
.sidebar .help-navigation li svg {
    fill: white;
    width: 24px;
    height: 24px;
    justify-self: center;
}

.header {
    padding: 24px 48px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 36px 48px;
    box-shadow: 0 5px 4px lightgray;
    z-index: 1;
}

.header .search-container {
    /* Using Flexbox */
    /* display: flex;
    gap: 12px;
    align-items: center; */

    /* Using Grid */
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
}

.header .search-container svg {
    width: 24px;
    height: 24px;
}

.header .search-container input {
    /* Using Flexbox */
    /* flex: 1;
    font-size: 18px;
    background-color: lightgrey;
    border: none;
    border-radius: 18px;
    padding: 4px 12px; */

    /* Using Grid */
    font-size: 18px;
    background-color: lightgrey;
    border: none;
    border-radius: 18px;
    padding: 4px 12px;
}

.header .profile-container {
    /* Using Flexbox */
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; */

    /* Using Grid */
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.header .profile-container svg {
    width: 24px;
    height: 24px;
}

.header .profile-container img {
    width: 48px;
}

.header .profile-container .profile-name {
    font-size: 18px;
    font-weight: bold;
}

.header .user-greeting-container {
    /* Using Flexbox */
    /* display: flex;
    align-items: center;
    gap: 24px; */

    /* Using Grid */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 24px;
}

.header .user-greeting-container img {
    width: 72px;
}

.header .user-greeting-container .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.header .user-greeting-container .greeting {
    font-size: 16px;
    font-weight: bold;
}

.header .user-greeting-container .user-info {
    font-size: 28px;
    font-weight: bold;
}

.header .cta-container {
    /* Using Flexbox */
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px; */

    /* Using Grid */
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header .cta-container button {
    background-color: rgb(0, 142, 215);
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 24px;
    font-size: 18px;
}

.main-content {
    padding: 36px 36px 48px 24px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 24px;
    background-color: rgb(216, 230, 245);
}

.main-content .projects-section {
    grid-row: 1 / -1;
}

.main-content .projects-section .heading {
    font-size: 20px;
    font-weight: bold;
}

.main-content .projects-section .projects-container {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    gap: 24px;
}

.main-content .projects-container .project-card {
    padding: 36px 24px;
    background-color: white;
    box-shadow: 1px 4px 3px lightgray;
    border-radius: 12px;
    border-left: 12px solid orange;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.main-content .projects-container .project-card .title {
    font-size: 20px;
    font-weight: bold;
}

.main-content .projects-container .project-card .description {
    font-size: 16px;
    color: rgb(95, 94, 94);
}

.main-content .projects-container .project-card .cta-container {
    display: flex;
    gap: 24px;
    justify-content: end;
    margin-top: auto;
}

.main-content .projects-container .project-card svg {
    width: 24px;
    height: 24px;
}

.main-content .announcement-section .heading {
    font-size: 20px;
    font-weight: bold;
}

.main-content .announcement-section .announcement-container {
    margin-top: 12px;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 1px 4px 3px lightgray;
}

.main-content .announcement-container .announcement {
    padding: 12px 6px;
    border-bottom: 1px solid lightgray;
}

.main-content .announcement-container .announcement:last-child {
    border: none;
}

.main-content .announcement-container .announcement .title {
    font-size: 18px;
    font-weight: bold;
}

.main-content .announcement-container .announcement .description {
    font-size: 16px;
    color: rgb(95, 94, 94);
}

.main-content .trending-section .heading {
    font-size: 20px;
    font-weight: bold;
}

.main-content .trending-section .trending-container {
    margin-top: 12px;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 1px 4px 3px lightgray;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-content .trending-container .project {
    display: flex;
    gap: 16px;
    align-items: center;
}

.main-content .trending-container .project img {
    width: 48px;
    height: 48px;
}

.main-content .trending-container .project .info-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.main-content .trending-container .project .user-name {
    font-size: 16px;
}

.main-content .trending-container .project .project-name {
    font-size: 16px;
    color: rgb(95, 94, 94);
}